.bdsDetail-container{
    margin: 50px 10% 50px 10%;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.bdsDetail-main{
    margin: 20px;
}
.bdsDetail-main img{
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
}
p{
    font-size: 20px;
}
.bdsDetail-container .img-bdsDetail{
    margin-bottom: 20px;
}
.bdsDetail-container .btn-bdsDetail{
    padding: 8px;
    background-color: #e2974d;
    color: white;
    border: none;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.bdsDetail-container .btn-bdsDetail:hover{
    background-color: #dd8339;
}
.bdsDetail-header{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}