.navbar2{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    width: 100%;
    height: 65px;
    margin: auto;
    background-color: white;
    border: 1px solid rgb(210, 204, 204);
    display: flex;

}
.navbar2 ul li a.active {
    color: #ff7200; 
    font-weight: bold; 
}


.logo .logo-link{
    color: #ff7200;
    font-size: 25px;
    font-family: Arial;
    margin: auto;
    
    float: left;
    font-weight: bold;
    cursor: pointer;
}
.navbar2 .logo  .logo-link:hover{
    color: #e2974d ;
}
.navbar2 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.menu{
    width: 60%;
    /* width: 800px; */
    float: left;
    height: 70px;
}

ul{
    /* margin-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 14px;
    font-size: 17px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    color: black;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    min-width: 120px; 
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}



@media screen and (max-width: 1320px) {
    .logo .logo-link {
        font-size: 22px;
    }

    .menu ul li a {
        font-size: 14px;
    }

    .srch {
        width: 150px;
    }

    .btn {
        font-size: 13px;
        padding: 4px 10px;
    }
}
@media screen and (max-width: 1100px) {
    .logo .logo-link {
        font-size: 17px;
    }
    .icon{
        width: 200px;
    }
    .menu ul{
        margin-left: 0px;
    }
    .menu{
        width: 600px;
    }
    .menu ul li a {
        font-size: 12px;
    }

    .srch {
        width: 100px;
    }

    .btn {
        font-size: 13px;
        padding: 4px 10px;
    }
}
@media screen and (max-width: 912px) {
    .logo .logo-link {
        font-size: 13px;
    }
    .icon{
        width: 150px;
    }
    .menu ul{
        margin-left: 0px;
    }
    .menu{
        width: 400px;
    }
    .menu ul li a {
        font-size: 10px;
    }
    .menu ul li {
        margin-left: 15px;
    }
    .srch {
        width: 100px;
    }

    .btn {
        font-size: 13px;
        padding: 4px 10px;
    }
}
@media screen and (max-width: 730px) {
    .logo .logo-link {
        font-size: 10px;
    }
    .icon{
        width: 100px;
    }
    .menu ul{
        margin-left: 0px;
    }
    .menu ul li a {
        font-size: 10px;
    }
    .menu ul li {
        margin-left: 15px;
    }
    .srch {
        width: 50px;
        font-size: 10px;
    }

    .btn {
        font-size: 10px;
        padding: 4px 10px;
    }
}


@media screen and (max-width: 414px) {
    .search{
        width: 10%;
        margin-left: 10px;
    }
    .icon{
        width: 20%;
        height: 10px;
        margin-top: 10px;
    }
    .logo .logo-link {
        font-size: 8px;
        padding:0px;
    }
    .menu{
        margin-left: 10px;
        width: 70%;
    }
    ul{
      
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .menu ul li a {
        font-size: 8px;
    }
    .srch {
        width: 30px;
        padding: 2px;
        height: 30px;
    }
    .btn {
        font-size: 8px;
        padding: 0px 0px;
        width: 40px;
        height: 30px;
    }
}

@media screen and (max-width: 375px) {
    .navbar2{
        width: 375px;
    }
    .logo .logo-link {
        font-size: 12px;
    }

    .menu ul li a {
        font-size: 10px;
    }

    .srch {
        width: 50%; 
        font-size: 10px;
    }

    .btn {
        width: 40%;
        font-size: 10px;
    }
}

@media screen and (max-width: 320px) {
    .navbar2{
        width: 320px;
    }
    .logo .logo-link {
        font-size: 12px;
    }

    .menu ul li a {
        font-size: 10px;
    }

    .srch {
        width: 45%;
        font-size: 9px;
    }

    .btn {
        width: 50%;
        font-size: 9px;
    }
} 

